@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  /* scrollbar */ }
  body ul {
    margin: 0;
    padding: 0; }
    body ul li {
      list-style-type: none; }
      body ul li a {
        text-decoration: none; }
        body ul li a:hover {
          text-decoration: none; }
        body ul li a:focus {
          outline: 0; }
  body .btn-check:focus + .btn, body .btn:focus {
    outline: 0;
    box-shadow: none; }
  body ::-webkit-scrollbar {
    width: 5px;
    height: 5px; }
  body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  body ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #001815;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
  body ::-webkit-scrollbar-thumb:window-inactive {
    background: #001815; }

.custom-width {
  max-width: 1920px; }

.custom-space {
  padding: 1rem;
  margin-bottom: 40px; }
  @media (max-width: 1199.98px) {
    .custom-space {
      margin-bottom: 0;
      padding-bottom: 0; } }

.responsive-height {
  height: calc(100vh - 0px);
  overflow-y: scroll; }

.login-wrapper {
  height: calc(100vh - 100px);
  gap: 80px; }
  @media (max-width: 991.98px) {
    .login-wrapper {
      height: auto;
      gap: 0;
      max-width: 500px;
      margin: 0 auto;
      width: 100%; } }
  .login-wrapper .login-card {
    flex-basis: 40%;
    flex-grow: 1; }
    .login-wrapper .login-card .card-header {
      margin-bottom: 70px;
      margin-top: 40px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .login-wrapper .login-card .card-header {
          margin-bottom: 30px; } }
    .login-wrapper .login-card .card-body .form-title {
      margin-bottom: 40px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .login-wrapper .login-card .card-body .form-title {
          display: none; } }
      .login-wrapper .login-card .card-body .form-title h2 {
        color: #030a16;
        font-family: "Inter", sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.48px; }
      .login-wrapper .login-card .card-body .form-title p {
        color: #030a16;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.28px;
        opacity: 0.5; }
    .login-wrapper .login-card .card-body .social-links {
      margin-bottom: 35px; }
      .login-wrapper .login-card .card-body .social-links a {
        color: #344054;
        font-family: "Work Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5rem;
        height: 48px;
        border: 1px solid #D0D5DD;
        box-shadow: 0px 2px 1px 0px rgba(16, 24, 40, 0.05);
        border-radius: 4px; }
        .login-wrapper .login-card .card-body .social-links a img {
          margin-right: 0.5rem; }
    .login-wrapper .login-card .card-body p.form-footer {
      color: #344054;
      font-family: "Work Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.8rem; }
      .login-wrapper .login-card .card-body p.form-footer a {
        color: #00756A;
        font-weight: 500; }
  .login-wrapper .login-image {
    flex-basis: 60%;
    flex-grow: 1; }
    @media screen and (max-width: 991.98px) {
      .login-wrapper .login-image {
        display: none; } }

.custom-select2 {
  position: relative; }
  .custom-select2 svg {
    position: absolute;
    top: 45px;
    right: 10px;
    z-index: 1;
    color: #343a40; }
  .custom-select2 .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #858585; }
  .custom-select2 .select2-container {
    width: 100% !important; }
    .custom-select2 .select2-container .selection .select2-selection {
      border: 1px solid #D0D5DD;
      height: 44px;
      transition: all 0.3s ease; }
      .custom-select2 .select2-container .selection .select2-selection:focus {
        border-color: #00756A; }
      .custom-select2 .select2-container .selection .select2-selection .select2-selection__rendered {
        line-height: 44px;
        color: #858585;
        padding-left: 1rem;
        font-family: "Inter", sans-serif; }
      .custom-select2 .select2-container .selection .select2-selection .select2-selection__arrow {
        height: 44px;
        display: none; }

input.invalid {
  border-color: #bf0808 !important; }

.tab {
  display: none; }

.iti {
  display: block; }
  .iti .iti__flag-container .iti__selected-flag {
    background-color: transparent;
    padding-left: 1rem;
    border-right: 1px solid #D0D5DD;
    padding-right: 1rem; }
    .iti .iti__flag-container .iti__selected-flag:hover {
      background-color: transparent; }
    .iti .iti__flag-container .iti__selected-flag .iti__selected-dial-code {
      color: #030a16;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.28px;
      opacity: 0.5; }

form .form-group {
  margin-bottom: 1.5rem; }
  form .form-group .form-check label {
    margin-bottom: 0;
    color: #344054;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 3px; }
    form .form-group .form-check label a {
      color: #00756a;
      text-decoration-line: underline; }
  form .form-group .form-check .form-check-input:focus {
    box-shadow: none; }
  form .form-group .form-check .form-check-input:checked {
    background-color: #00756A;
    border-color: #00756A; }
  form .form-group label {
    color: #344054;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0.5rem; }
  form .form-group input[type="text"],
  form .form-group input[type="email"],
  form .form-group input[type="number"],
  form .form-group input[type="password"] {
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 2px 1px 0px rgba(16, 24, 40, 0.05);
    height: 44px;
    border-radius: 4px;
    transition: all 0.3s ease;
    width: 100%; }
    form .form-group input[type="text"]:focus,
    form .form-group input[type="email"]:focus,
    form .form-group input[type="number"]:focus,
    form .form-group input[type="password"]:focus {
      border-color: #00756A; }
  form .form-group .form-select {
    padding: 0 1rem;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 2px 1px 0px rgba(16, 24, 40, 0.05);
    height: 44px;
    border-radius: 4px;
    color: #858585;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s ease; }
    form .form-group .form-select:focus {
      border-color: #00756A; }
  form .form-group i.slash-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #858585; }
  form .form-group button {
    margin-top: 1rem;
    background-color: #00756A;
    padding: 12px 16px;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid transparent;
    transition: all 0.3s ease; }
    form .form-group button:hover {
      background-color: #ffffff;
      color: #00756A;
      border-color: #00756A; }

.form-control:focus {
  box-shadow: none; }

input:focus-visible {
  outline: 0; }

input:focus-visible {
  outline: 0; }

:focus-visible {
  outline: 0; }

.sidenav {
  border-right: 1px solid #d6d8dc;
  background: #001815;
  max-width: 242px;
  width: 17%; }
  @media (min-width: 768px) {
    .sidenav .closebtn {
      display: none; } }
  @media (max-width: 767.98px) {
    .sidenav .closebtn {
      position: absolute;
      top: -10px;
      right: 16px;
      font-size: 36px;
      margin-left: 50px;
      color: #fff; } }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .sidenav {
      width: 20%;
      max-width: 100%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .sidenav {
      width: 24%;
      max-width: 100%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .sidenav {
      width: 32%;
      max-width: 100%; } }
  @media (max-width: 767.98px) {
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 0;
      max-width: none; } }
  .sidenav .sidebar-wrapper {
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 20px; }
    .sidenav .sidebar-wrapper .logo {
      margin-bottom: 18px; }
      @media (max-width: 767.98px) {
        .sidenav .sidebar-wrapper .logo img {
          max-width: 160px; } }
    .sidenav .sidebar-wrapper .company-name {
      border-radius: 4px;
      border: 1px solid rgba(214, 216, 220, 0.2);
      padding: 8px 0 8px 12px;
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .sidenav .sidebar-wrapper .company-name img {
        margin-right: 12px;
        width: 32px;
        background: #fff;
        padding: 5px;
        border-radius: 4px; }
      .sidenav .sidebar-wrapper .company-name .content h3,
      .sidenav .sidebar-wrapper .company-name .content span {
        color: #ffffff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 3px;
        line-height: normal; }
      .sidenav .sidebar-wrapper .company-name .content span {
        letter-spacing: 0.12px;
        font-size: 12px;
        font-weight: 400;
        opacity: 0.5; }
    .sidenav .sidebar-wrapper ul {
      margin-bottom: 36px; }
      .sidenav .sidebar-wrapper ul p {
        color: #ffffff;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.14px;
        opacity: 0.5; }
      .sidenav .sidebar-wrapper ul li {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        margin-bottom: 5px; }
        .sidenav .sidebar-wrapper ul li.active {
          background: #00756A;
          border-radius: 4px; }
          .sidenav .sidebar-wrapper ul li.active svg {
            opacity: 1; }
          .sidenav .sidebar-wrapper ul li.active span {
            opacity: 1; }
            .sidenav .sidebar-wrapper ul li.active span.badge {
              background: #ffffff;
              color: #00756A; }
        .sidenav .sidebar-wrapper ul li:hover a {
          background: #00756A;
          border-radius: 4px; }
          .sidenav .sidebar-wrapper ul li:hover a svg {
            opacity: 1; }
          .sidenav .sidebar-wrapper ul li:hover a span {
            opacity: 1; }
            .sidenav .sidebar-wrapper ul li:hover a span.badge {
              background: #ffffff;
              color: #00756A; }
        .sidenav .sidebar-wrapper ul li a,
        .sidenav .sidebar-wrapper ul li button {
          color: #ffffff;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.16px;
          padding: 12px 8px;
          transition: all 0.3s ease;
          background: transparent; }
          .sidenav .sidebar-wrapper ul li a svg,
          .sidenav .sidebar-wrapper ul li button svg {
            margin-right: 1rem;
            opacity: 0.5; }
          .sidenav .sidebar-wrapper ul li a span,
          .sidenav .sidebar-wrapper ul li button span {
            opacity: 0.5; }
            .sidenav .sidebar-wrapper ul li a span.badge,
            .sidenav .sidebar-wrapper ul li button span.badge {
              opacity: 1;
              background: #00756A;
              display: inline-block;
              color: #ffffff;
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 400;
              margin-left: 8px; }
        .sidenav .sidebar-wrapper ul li button {
          background: transparent;
          border: 0;
          text-align: left; }
          .sidenav .sidebar-wrapper ul li button svg.btn-icon {
            margin-right: 1rem; }
          .sidenav .sidebar-wrapper ul li button svg.dropdown-icon {
            float: right;
            position: relative;
            top: 14px; }

.main-wrapper {
  width: 83%;
  position: relative; }
  @media (min-width: 768px) {
    .main-wrapper span.humburger {
      display: none; } }
  @media (max-width: 767.98px) {
    .main-wrapper span.humburger {
      font-size: 30px;
      cursor: pointer;
      position: absolute;
      left: 13px;
      top: 15px; } }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .main-wrapper {
      width: 80%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .main-wrapper {
      width: 76%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .main-wrapper {
      width: 68%; } }
  @media (max-width: 767.98px) {
    .main-wrapper {
      width: 100%; } }

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 106px;
  margin-bottom: 40px; }
  @media (max-width: 767.98px) {
    .top-bar {
      height: auto; } }
  @media (max-width: 575.98px) {
    .top-bar {
      margin-bottom: 1rem; } }
  @media (max-width: 991.98px) {
    .top-bar .content {
      display: none; } }
  .top-bar .content .company-intro h3 {
    color: #030a16;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.48px;
    margin-bottom: 12px; }
  .top-bar .content .company-intro p {
    margin-bottom: 0;
    color: #030a16;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px; }
  .top-bar .top-bar-options {
    display: flex;
    align-items: center;
    gap: 1rem; }
    @media (min-width: 768px) and (max-width: 991.98px) {
      .top-bar .top-bar-options {
        justify-content: space-evenly;
        width: 100%; } }
    @media (max-width: 767.98px) {
      .top-bar .top-bar-options {
        justify-content: end;
        width: 100%;
        gap: 10px; } }
    .top-bar .top-bar-options .create-job-links a {
      background-color: #00756A;
      padding: 12px 16px;
      border-radius: 4px;
      color: #ffffff;
      font-family: "Work Sans", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      line-height: 24px;
      border: 1px solid transparent;
      transition: all 0.3s ease;
      text-decoration: none;
      display: inline-block; }
      .top-bar .top-bar-options .create-job-links a:hover {
        background-color: #ffffff;
        color: #00756A;
        border-color: #00756A; }
      @media (max-width: 575.98px) {
        .top-bar .top-bar-options .create-job-links a {
          padding: 5px 10px;
          font-size: 12px; } }
    .top-bar .top-bar-options .notifications .dropdown button {
      height: 48px;
      width: 48px;
      border-radius: 100px;
      border: 1px solid #d6d8dc;
      background-color: #fff; }
      .top-bar .top-bar-options .notifications .dropdown button::after {
        display: none; }
      .top-bar .top-bar-options .notifications .dropdown button span i {
        font-size: 18px; }
      .top-bar .top-bar-options .notifications .dropdown button span .badge {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background-color: #E7502C;
        position: absolute;
        top: 10px;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 7px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.08px;
        right: 11px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; }
    .top-bar .top-bar-options .profile-info .dropdown button {
      height: 48px;
      width: 48px;
      border-radius: 100px;
      border: 1px solid #d6d8dc;
      background-color: #fff; }
      .top-bar .top-bar-options .profile-info .dropdown button::after {
        display: none; }
      .top-bar .top-bar-options .profile-info .dropdown button img {
        width: 48px;
        height: 48px; }

footer {
  background: #e7f8ea;
  bottom: 0;
  left: 0;
  width: 100%; }
  footer p {
    margin-bottom: 0;
    padding: 13px 30px; }
    @media (max-width: 1199.98px) {
      footer p {
        padding: 7px 5px;
        font-size: 14px;
        text-align: center; } }

.dashboard .job-info {
  margin-bottom: 40px; }
  @media (max-width: 575.98px) {
    .dashboard .job-info {
      margin-bottom: 0; } }
  .dashboard .job-info .card-body {
    padding: 0;
    border-radius: 4px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: start; }
    @media (max-width: 991.98px) {
      .dashboard .job-info .card-body {
        margin-bottom: 1rem; } }
    .dashboard .job-info .card-body.bg-active {
      background: #e7f8ea; }
    .dashboard .job-info .card-body.bg-pending {
      background: #e8eff9; }
    .dashboard .job-info .card-body.bg-expired {
      background: #ffefe7; }
    .dashboard .job-info .card-body.bg-draft {
      background: #f3f3f3; }
    .dashboard .job-info .card-body svg {
      margin-right: 1.5rem;
      margin-left: 1.5rem; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .dashboard .job-info .card-body svg {
          margin-right: 0.8rem;
          margin-left: 0.8rem; } }
    .dashboard .job-info .card-body .content h3 {
      color: #030a16;
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0.24px;
      margin-bottom: 0; }
    .dashboard .job-info .card-body .content span {
      display: inline-block;
      color: #030a16;
      font-family: "Inter", sans-serif;
      letter-spacing: 0.14px;
      opacity: 0.8;
      font-size: 14px;
      font-weight: 400; }

.dashboard .applicants-info {
  margin-bottom: 17px; }
  .dashboard .applicants-info .applicants-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px; }
    @media (max-width: 575.98px) {
      .dashboard .applicants-info .applicants-bar {
        margin-bottom: 1rem; } }
    .dashboard .applicants-info .applicants-bar h3 {
      margin: 0;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      color: #101828;
      display: flex;
      align-items: center; }
      @media (max-width: 575.98px) {
        .dashboard .applicants-info .applicants-bar h3 {
          font-size: 15px; } }
      .dashboard .applicants-info .applicants-bar h3 span {
        display: inline-block;
        margin-left: 8px;
        width: 38px;
        height: 22px;
        background: #f9f5ff;
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        color: #eb8701;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px; }
    .dashboard .applicants-info .applicants-bar a {
      display: inline-block;
      width: 102px;
      height: 36px;
      border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #d0d5dd;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #344054;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      transition: all 0.3s ease;
      background-color: transparent; }
      .dashboard .applicants-info .applicants-bar a:hover {
        border-color: #001815; }
      .dashboard .applicants-info .applicants-bar a svg {
        margin-left: 8px;
        transition: all 0.3s ease; }
        .dashboard .applicants-info .applicants-bar a svg:hover {
          margin-left: 5px; }
  .dashboard .applicants-info .all-applicants .applicants-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .dashboard .applicants-info .all-applicants .applicants-wrapper {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 576px) and (max-width: 991.98px) {
      .dashboard .applicants-info .all-applicants .applicants-wrapper {
        grid-template-columns: repeat(2, 1fr); } }
    @media (max-width: 575.98px) {
      .dashboard .applicants-info .all-applicants .applicants-wrapper {
        grid-template-columns: repeat(1, 1fr); } }
    .dashboard .applicants-info .all-applicants .applicants-wrapper .card {
      border-radius: 4px;
      border: 1px solid #d9d9d9;
      background: #f2f2f2;
      padding: 24px 46px;
      text-align: center; }
      @media (min-width: 1200px) and (max-width: 1399.98px) {
        .dashboard .applicants-info .all-applicants .applicants-wrapper .card {
          padding: 20px; } }
      .dashboard .applicants-info .all-applicants .applicants-wrapper .card .card-body {
        padding: 0; }
        .dashboard .applicants-info .all-applicants .applicants-wrapper .card .card-body .applicants-image {
          width: 93px;
          height: 93px;
          border-radius: 100%;
          background-color: rgba(119, 137, 254, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto; }
          .dashboard .applicants-info .all-applicants .applicants-wrapper .card .card-body .applicants-image img {
            width: 75px;
            height: 75px;
            border-radius: 100%; }
        .dashboard .applicants-info .all-applicants .applicants-wrapper .card .card-body .details h3 {
          color: #353c44;
          font-family: "Inter", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 150%;
          margin-bottom: 0; }
        .dashboard .applicants-info .all-applicants .applicants-wrapper .card .card-body .details span {
          color: #353c44;
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
          opacity: 0.8; }

.dashboard .all-plans {
  border: 1px solid #eaecf0;
  padding: 20px 24px 16px 24px;
  border-radius: 2px;
  margin-bottom: 40px; }
  @media (max-width: 575.98px) {
    .dashboard .all-plans {
      padding: 16px 10px 16px 10px;
      margin-bottom: 1rem; } }
  .dashboard .all-plans .all-tabs {
    position: relative; }
    .dashboard .all-plans .all-tabs .see-all-links {
      position: absolute;
      right: 0;
      top: 0; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .dashboard .all-plans .all-tabs .see-all-links {
          top: 10px;
          right: -10px; } }
      @media (min-width: 576px) and (max-width: 767.98px) {
        .dashboard .all-plans .all-tabs .see-all-links {
          top: 5px; } }
      @media (max-width: 575.98px) {
        .dashboard .all-plans .all-tabs .see-all-links {
          position: relative;
          top: 8px;
          float: right; } }
      .dashboard .all-plans .all-tabs .see-all-links a {
        display: inline-block;
        width: 102px;
        height: 36px;
        border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #d0d5dd;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #344054;
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; }
        .dashboard .all-plans .all-tabs .see-all-links a svg {
          margin-left: 8px; }
    .dashboard .all-plans .all-tabs ul li button {
      color: #98a2b3;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
      display: flex;
      align-items: center; }
      @media (min-width: 768px) and (max-width: 991.98px) {
        .dashboard .all-plans .all-tabs ul li button {
          padding-left: 10px;
          padding-right: 10px; } }
      @media (max-width: 575.98px) {
        .dashboard .all-plans .all-tabs ul li button {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 14px; } }
      .dashboard .all-plans .all-tabs ul li button span.badge {
        margin-left: 8px;
        width: 38px;
        height: 22px;
        background: #f9f5ff;
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        color: #eb8701;
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px; }
      .dashboard .all-plans .all-tabs ul li button.active {
        color: #101828;
        background-color: transparent;
        border-bottom: 3px solid #00756a;
        border-radius: 0; }
    .dashboard .all-plans .all-tabs .tab-content {
      margin-top: 26px; }
      @media (min-width: 992px) and (max-width: 1199.98px) {
        .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table {
          width: 135%; } }
      .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table thead {
        border-bottom: 1px solid #eaecf0;
        background: #f9fafb; }
        .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table thead tr th {
          color: #667085;
          font-family: Inter;
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
          padding: 13px 10px; }
      .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody {
        border-top: 0; }
        .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr:last-child td {
          border-bottom: 0;
          padding-bottom: 0; }
        .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td {
          color: #667085;
          font-family: "Inter", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 0;
          vertical-align: middle;
          padding: 22px 10px; }
          .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td .title {
            display: flex;
            align-items: center; }
            .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td .title h3 {
              color: #101828;
              font-family: "Inter", sans-serif;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              margin-bottom: 3px;
              max-width: 160px; }
            .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td .title span {
              line-height: 0; }
          .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td p {
            color: #667085;
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 0; }
          .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags {
            display: flex;
            align-items: center;
            gap: 8px; }
            .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags li {
              color: #030a16;
              text-align: center;
              font-family: "Inter", sans-serif;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              padding: 4px 5px;
              border-radius: 4px; }
              .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags li.bg-shortlist {
                background: #ffedd5; }
              .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags li.bg-interview {
                background: #dbeafe; }
              .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags li.bg-hired {
                background: #dcfce7; }
              .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.tags li.bg-offered {
                background: #f3e8ff; }
          .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.links {
            display: flex;
            align-items: center;
            gap: 16px; }
            .dashboard .all-plans .all-tabs .tab-content .tab-pane .table-responsive table tbody tr td ul.links a.modal-pointer {
              cursor: pointer; }

.dashboard .features .features-bar {
  margin-bottom: 40px; }
  @media (max-width: 575.98px) {
    .dashboard .features .features-bar {
      margin-bottom: 1rem; } }
  .dashboard .features .features-bar h3 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #101828;
    display: flex;
    align-items: center; }

.dashboard .features .card {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  padding: 24px 32px;
  height: 230px; }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .dashboard .features .card {
      padding: 20px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .dashboard .features .card {
      height: 250px; } }
  @media (max-width: 1199.98px) {
    .dashboard .features .card {
      margin-bottom: 1rem; } }
  @media (max-width: 991.98px) {
    .dashboard .features .card {
      height: auto; } }
  @media (max-width: 575.98px) {
    .dashboard .features .card {
      padding: 1rem; } }
  .dashboard .features .card h4 {
    color: #353c44;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    margin: 0 0 8px 0; }
    @media (min-width: 1200px) and (max-width: 1399.98px) {
      .dashboard .features .card h4 {
        font-size: 17px; } }
    @media (max-width: 575.98px) {
      .dashboard .features .card h4 {
        font-size: 16px; } }
  .dashboard .features .card p {
    margin-bottom: 1rem;
    color: #353c44;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 100px; }
    @media (max-width: 991.98px) {
      .dashboard .features .card p {
        height: auto; } }
  .dashboard .features .card a {
    background-color: #00756A;
    padding: 12px 16px;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    text-decoration: none;
    max-width: 200px;
    text-align: center; }
    .dashboard .features .card a:hover {
      background-color: #ffffff;
      color: #00756A;
      border-color: #00756A; }
