@use "variables";

@mixin btn-theme {
  background-color: variables.$teal;
  padding: 12px 16px;
  border-radius: 4px;
  color: variables.$white;
  font-family: variables.$workSans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid transparent;
  transition: variables.$transitionNormal;
  &:hover {
    background-color: variables.$white;
    color: variables.$teal;
    border-color: variables.$teal;
  }
}
@mixin see-all-btn {
  display: inline-block;
  width: 102px;
  height: 36px;
  border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #344054;
  font-family: variables.$inter;
  font-size: variables.$fontSmall;
  font-weight: 500;
  line-height: 20px;
  transition: variables.$transitionNormal;
  background-color: transparent;
  &:hover { 
    border-color: #001815;
  }
}
