@mixin btn-theme {
  background-color: $teal;
  padding: 12px 16px;
  border-radius: 4px;
  color: $white;
  font-family: $workSans;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  border: 1px solid transparent;
  transition: $transitionNormal;
  &:hover {
    background-color: $white;
    color: $teal;
    border-color: $teal;
  }
}
@mixin see-all-btn {
  display: inline-block;
  width: 102px;
  height: 36px;
  border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #344054;
  font-family: $inter;
  font-size: $fontSmall;
  font-weight: 500;
  line-height: 20px;
  transition: $transitionNormal;
  background-color: transparent;
  &:hover { 
    border-color: #001815;
  }
}
