.all-applicants-content {
  button {
    &.select-all-btn {
      border-radius: 8px;
      background: #00756a;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      height: 40px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      border: 0;
      padding: 10px 18px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 7px;
      position: absolute;
      right: 0;
      top: -68px;
      &.unselect-all-btn {
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid #d0d5dd;
        background: #fff;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        right: 137px;
        color: #81848a;
        input[type="checkbox"] {
          &::before {
            background-color: #8a8d92;
            box-shadow: inherit;
          }
        }
      }
      @media (max-width: 991.98px) {
        position: relative;
        top: 0;
        margin: 0 auto;
      }
      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--form-background);
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        &::before {
          content: "";
          width: 0.65em;
          height: 0.65em;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
          transform: scale(0);
          transform-origin: bottom left;
          transition: 120ms transform ease-in-out;
          box-shadow: inset 1em 1em #fff;
          background-color: CanvasText;
        }
        &:checked {
          &::before {
            transform: scale(1);
          }
        }
      }

      span {
        display: block;
        margin-top: -4px;
      }
    }
  }
  a {
    &.select-all-btn {
      border-radius: 8px;
      background: #00756a;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      height: 40px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      border: 0;
      padding: 10px 18px;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      gap: 7px;
      position: absolute;
      right: 135px;
      top: -68px;
      text-decoration: none;

      @media (max-width: 991.98px) {
        position: relative;
        top: 0;
        margin: 0 auto;
      }
    }
  }
  .table-responsive {
    .dt-container {
      .row {
        &.justify-content-between {
          @media (min-width: 992px) and (max-width: 1199.98px) {
            width: 150%;
          }
          @media (min-width: 768px) and (max-width: 991.98px) {
            width: 230%;
          }
          @media (max-width: 575.98px) {
            width: 180% !important;
          }
        }
      }
    }
    .table {
      margin: 1rem 0;
      @media (min-width: 992px) and (max-width: 1199.98px) {
        width: 150% !important;
      }
      @media (min-width: 768px) and (max-width: 991.98px) {
        width: 230% !important;
      }
      @media (max-width: 575.98px) {
        width: 180% !important;
      }
      tbody {
        tr {
          border-radius: 4px;
          border: 1px solid #d9d9d9;
          background: #fff;
          padding: 1rem;
          display: block;
          margin-bottom: 1rem;
          &.active {
            border-color: #00756a;
            td {
              input[type="checkbox"] {
                background-color: #00756a;
                border-color: #00756a;
                &::before {
                  background-color: #fff;
                  box-shadow: inherit;
                }
              }
            }
          }
          td {
            border-radius: 4px;
            border: 0;
            padding: 1rem !important;
            .border-end {
              @media (max-width: 767.98px) {
                border: 0 !important;
              }
            }
            input[type="checkbox"] {
              -webkit-appearance: none;
              appearance: none;
              background-color: transparent;
              margin: 0;
              font: inherit;
              color: #667085;
              width: 1.15em;
              height: 1.15em;
              border: 0.15em solid #667085;
              border-radius: 0.15em;
              transform: translateY(-0.075em);
              display: grid;
              place-content: center;
              &::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                clip-path: polygon(
                  14% 44%,
                  0 65%,
                  50% 100%,
                  100% 16%,
                  80% 0%,
                  43% 62%
                );
                transform: scale(0);
                transform-origin: bottom left;
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em #00756a;
                background-color: CanvasText;
              }
              &:checked {
                &::before {
                  transform: scale(1);
                }
              }
            }
            .applicant-address {
              display: flex;
              align-items: center;
              gap: 1rem;
              .applicants-img {
                .bg-img {
                  width: 124px;
                  height: 124px;
                  background-color: #d1eae8;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  position: relative;
                  @media (min-width: 1200px) and (max-width: 1400px) {
                    width: 100px;
                    height: 100px;
                  }
                  @media (max-width: 767.98px) {
                    width: 100px;
                    height: 100px;
                  }
                  img {
                    max-width: 110px;
                    @media (min-width: 1200px) and (max-width: 1400px) {
                      max-width: 100px;
                    }
                    @media (max-width: 767.98px) {
                      max-width: 100px;
                    }
                  }
                  .bg-sm-percent {
                    width: 52px;
                    height: 52px;
                    position: absolute;
                    background-color: #11ab9d;
                    border: 3px solid #d1eae8;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: 0;
                    top: 0;
                    @media (min-width: 1200px) and (max-width: 1400px) {
                      width: 40px;
                      height: 40px;
                    }
                    @media (max-width: 767.98px) {
                      width: 40px;
                      height: 40px;
                    }
                    p {
                      margin: 0;
                      color: #fff;
                      font-size: 18px;
                      font-weight: 700;
                      line-height: 150%;
                      text-align: center;
                      @media (min-width: 1200px) and (max-width: 1400px) {
                        font-size: 10px;
                      }
                      @media (max-width: 767.98px) {
                        font-size: 10px;
                      }
                      span {
                        font-size: 12px;
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
              .applicants-info {
                margin-bottom: 0;
                ul {
                  li {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 10px;
                    h3 {
                      color: #353c44;
                      font-size: 14px;
                      font-weight: 700;
                      margin: 0;
                      span {
                        color: #5d6369;
                        font-size: 10px;
                        font-weight: 400;
                      }
                    }
                    h4 {
                      color: #5e6369;
                      font-size: 13px;
                      font-weight: 600;
                      line-height: 20px;
                      opacity: 0.8;
                      span {
                        color: #5d6369;
                        font-size: 10px;
                        font-weight: 400;
                        opacity: 1;
                      }
                    }
                    a {
                      img {
                      }
                    }
                    svg {
                    }
                  }
                }
              }
            }
            .applicant-experience {
              ul {
                padding-left: 3rem;
                @media (min-width: 1200px) and (max-width: 1400px) {
                  padding-left: 1.5rem;
                }
                @media (max-width: 767.98px) {
                  padding-left: 1rem;
                }
                li {
                  margin-bottom: 6px;
                  h3 {
                    color: #353c44;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 0;
                    span {
                      opacity: 0.8;
                      color: #7e8287;
                      font-size: 10px;
                      font-weight: 600;
                      line-height: 20px;
                    }
                  }
                  p {
                    color: #5d6369 !important;
                    font-size: 10px !important;
                    line-height: 150% !important;
                  }
                }
              }
            }
            .applicant-progress {
              display: flex;
              gap: 5px;
              align-items: flex-start;
              @media (max-width: 767.98px) {
                margin: 1rem 0;
              }
              .chips {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                justify-content: end;
                gap: 17px;
                @media (min-width: 1200px) and (max-width: 1400px) {
                  gap: 10px;
                }

                span {
                  display: inline-block;
                  border-radius: 4px;
                  border: 1px solid #d3d3d3;
                  background: rgba(0, 117, 106, 0.1);
                  display: flex;
                  align-items: center;
                  padding: 5px 12px;
                  gap: 8px;
                  font-size: 12px;
                  &.disable-shortlist,
                  &.disable-assessment {
                    border-color: #dfdfdf;
                    background-color: #fff;
                    color: #cacaca;
                    border-radius: 4px;
                  }
                  @media (min-width: 1200px) and (max-width: 1400px) {
                    font-size: 10px;
                    padding: 5px 8px;
                  }

                  &.reject {
                    background: rgba(197, 54, 66, 0.1);
                    i {
                      color: #c53642;
                    }
                  }
                  i {
                  }
                }
              }
              .btn-group {
                button {
                  background-color: transparent;
                  border: 0;
                  color: #d9d9d9;
                  &::before {
                    content: none;
                  }
                  &::after {
                    content: none;
                  }
                }
                ul {
                  height: 120px;
                  overflow-y: scroll;
                  li {
                    font-size: 12px;
                    a {
                      &.dropdown-item {
                        &.active {
                          background-color: rgba(0, 117, 106, 0.1);
                          color: inherit;
                        }
                        svg {
                          width: 14px;
                          margin-right: 5px;
                        }
                      }
                      &:hover,
                      &:active {
                        background-color: rgba(0, 117, 106, 0.1);
                        color: #353c44;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.pagination {
  .page-item {
    &.active {
      .page-link {
        z-index: 3;
        color: #fff;
        background-color: #11ab9d;
        border-color: #11ab9d;
      }
    }
  }
}
