@use "../mixin";
@use "../variables";

// Modal
.job-schedule {
  .card-body {
    .top-header {
      padding: 35px;
      background: #eba346;
      display: flex;
      align-items: flex-end;
      gap: 1rem;
      justify-content: space-between;
      flex-wrap: wrap;

      .brand-details {
        display: flex;
        gap: 60px;
        max-width: 800px;
        width: 100%;

        @media (max-width: 575.98px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        .brand-logo {
          img {
            max-width: 100px;
          }
        }

        .brand-info {
          h1 {
            color: #10110c;
            font-family: variables.$inter;
            font-size: 36px;
            font-weight: 700;
            line-height: 18px;
            margin-bottom: 20px;
          }

          h2 {
            color: #10110c;
            font-family: variables.$workSans;
            font-size: 20px;
            font-weight: 500;
            line-height: 18px;
          }

          p {
            color: #10110c;
            font-family: variables.$workSans;
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 0;
          }
        }
      }

      .action-btn {
        a {
          @include mixin.btn-theme;
        }
      }
    }

    .details {
      padding: 0 36px;

      h3 {
        color: #344054;
        font-family: variables.$workSans;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }

      section {
        dl {
          display: flex;

          dt {
            color: #344054;
            font-family: variables.$workSans;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
          }

          dd {
            color: #344054;
            font-family: variables.$workSans;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-left: 1rem;
          }
        }

        h4 {
          color: #344054;
          font-family: variables.$workSans;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
        }

        p {
          color: #344054;
          text-align: justify;
          font-family: variables.$workSans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          max-width: 850px;
        }

        ul {
          &.add-info {
            li {
              list-style-type: none;
              margin-left: 0;
            }
          }

          li {
            list-style-type: disc;
            margin-left: 1rem;
            color: #344054;
            font-family: variables.$workSans;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }

        .content-wrapper {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 1rem;

          .qr-code {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
              display: block;
              margin-top: 8px;
              color: #344054;
              font-size: 20px;
              font-weight: 600;
              line-height: 18px;
            }
          }
        }
      }
    }

    .button-end {
      padding: 2rem;
      padding-right: 12px;

      .form-datePicker-wrapper {
        display: flex;
        gap: 1rem;
        align-items: center;

        @media (min-width: 992px) and (max-width: 1199.98px) {
          margin-bottom: 1rem;
        }

        @media (max-width: 991.98px) {
          margin-bottom: 1rem;
          display: block;
        }

        .form-datePicker {
          display: flex;
          gap: 1rem;
          align-items: center;
          width: 50%;

          @media (min-width: 992px) and (max-width: 1199.98px) {
            width: 70%;
          }

          @media (max-width: 991.98px) {
            width: 100%;
            margin-bottom: 1rem;
          }

          @media (max-width: 575.98px) {
            flex-direction: column;
          }

          .form-group {
            width: 50%;

            @media (min-width: 992px) and (max-width: 1199.98px) {
              width: 70%;
            }

            @media (max-width: 991.98px) {
              width: 100%;
            }
          }
        }
      }

      button {
        @include mixin.btn-theme;
        padding: 6px 16px;

        @media (max-width: 575.98px) {
          width: 100%;
        }

        &.btn-default {
          background-color: variables.$white;
          color: variables.$gray;
          border-color: variables.$gray2;

          &:hover {
            color: variables.$teal;
            border-color: variables.$teal;
          }
        }
      }
    }

    .btn-online {
      display: inline-flex;
      padding: 12px 16px;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: #00756A;
      color: #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      border: 0;
    }
  }
}

.job-schedule-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          color: #030a16;

          h1 {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 0.48px;
            margin-bottom: 7px;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.28px;
            opacity: 0.5;
            margin-bottom: 0;
          }
        }
      }

      .modal-body {
        .active-date {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 3rem;
          padding: 0 1rem;

          .form-group {
            width: 100%;

            label {
              display: block;
              margin-bottom: 10px;
              color: #344054;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              /* 142.857% */
            }

            input {}

            p {
              padding-bottom: 16px;
              margin-bottom: 0;
              border-radius: 8px;
              background: #fff;
              box-shadow: 0px 2px 1px 0px rgba(16, 24, 40, 0.05);
              color: #667085;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }

      .modal-footer {
        border-top: 0;
        justify-content: center;
        padding: 0rem 2rem 1rem;

        .modal-btn {
          display: inline-block;
          @include mixin.btn-theme;
          padding: 6px 16px;
          text-decoration: none;
          width: 100%;
          text-align: center;
          font-size: 16px;

        }
      }
    }
  }
}