.login-wrapper {
  // height: calc(100vh - 100px);
  height: 100vh;
  gap: 80px;
  @media(max-width: 991.98px) {
    height: auto;
    gap: 0;
    max-width: 500px;
    margin: 0 auto;
    width: 100%; 
  }
  .login-card {
    flex-basis: 50%;
    flex-grow: 1;
    padding-left: 80px;
    .card-header {
      margin-bottom: 70px;
      margin-top: 40px;
      @media(min-width: 992px) and (max-width:1199.98px) {
        margin-bottom: 30px;
      }
    }
    .card-body {
      .form-title {
        margin-bottom: 40px;
        @media(min-width: 992px) and (max-width:1199.98px) {
          display: none;
        }
        h2 {
          color: $dark;
          font-family: $inter;
          font-size: $fontLarge;
          font-weight: $bold;
          letter-spacing: 0.48px;
        }
        p {
          color: $dark;
          font-family: $inter;
          font-size: $fontSmall;
          font-weight: $normal;
          letter-spacing: 0.28px;
          opacity: $half;
        }
      }
      .social-links {
        margin-bottom: 35px;
        a {
          color: $gray;
          font-family: $workSans;
          font-size: $fontNormal;
          font-weight: $normal;
          line-height: $fontLarge;
          height: 48px;
          border: 1px solid $gray2;
          box-shadow: 0px 2px 1px 0px rgba(16, 24, 40, 0.05);
          border-radius: $radiusSmall;
          img {
            margin-right: 0.5rem;
          }
        }
      }
      p {
        &.form-footer {
          color: $gray;
          font-family: $workSans;
          font-size: $fontNormal;
          font-weight: $normal;
          line-height: 1.8rem;
          a {
            color: $teal;
            font-weight: 500;
          }
        }
      } 
    }
  } 
  .login-image {
    flex-basis: 50%;
    flex-grow: 1; 
    background-image: url('../../img/auth/login-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    &.reg-image {
      background-image: url('../../img/auth/reg-image.png');
    }
    @media screen and (max-width: 991.98px) {
      display: none;
    }
  }
}

// Customize Select2 Field CSS
.custom-select2 {
  position: relative;
  svg {
    position: absolute;
    top: 45px;
    right: 10px;
    z-index: 1;
    color: $dark1;
  }
  .select2-container--default {
    .select2-search--dropdown {
      .select2-search__field {
        border: 1px solid $gray1;
      }
    }
  }
  .select2-container {
    width: 100% !important;
    .selection {
      .select2-selection {
        border: 1px solid $gray2;
        height: 44px;
        transition: $transitionNormal;
        &:focus {
          border-color: $teal;
        }
        .select2-selection__rendered {
          line-height: 44px;
          color: $gray1;
          padding-left: 1rem;
          font-family: $inter;
        }
        .select2-selection__arrow {
          height: 44px;
          display: none;
        }
      }
    }
  }
}

// Stepper CSS
input.invalid {
  border-color: $red !important;
}

.tab {
  display: none;
}

// Customize intelInput CSS
.iti {
  display: block;
  .iti__flag-container {
    .iti__selected-flag {
      background-color: transparent;
      padding-left: 1rem;
      border-right: 1px solid $gray2;
      padding-right: 1rem;
      &:hover {
        background-color: transparent;
      }
      .iti__selected-dial-code {
        color: $dark;
        font-family: $inter;
        font-size: $fontSmall;
        font-weight: $normal;
        line-height: normal;
        letter-spacing: 0.28px;
        opacity: $half;
      }
    }
  }
}
