.sidenav {
  border-right: 1px solid #d6d8dc;
  background: #001815;
  max-width: 242px;
  width: 17%;
  .closebtn {
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 767.98px) {
      position: absolute;
      top: -10px;
      right: 16px;
      font-size: 36px;
      margin-left: 50px;
      color: #fff;
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    width: 20%;
    max-width: 100%;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 24%;
    max-width: 100%;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 32%;
    max-width: 100%;
  }
  @media (max-width: 767.98px) {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    max-width: none;
  }
  .sidebar-wrapper {
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 20px;
    // height: calc(100vh - 10px);
    // overflow-y: scroll;
    .logo {
      margin-bottom: 18px;
      img {
        @media (max-width: 767.98px) {
          max-width: 160px;
        }
      }
    }
    .company-name {
      border-radius: 4px;
      border: 1px solid rgba(214, 216, 220, 0.2);
      padding: 8px 0 8px 12px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      img {
        margin-right: 12px;
        width: 32px;
        background: #fff;
        padding: 5px;
        border-radius: 4px;
      }
      .content {
        h3,
        span {
          color: $white;
          font-family: $inter;
          font-size: 14px;
          font-weight: $bold;
          margin-bottom: 3px;
          line-height: normal;
        }
        span {
          letter-spacing: 0.12px;
          font-size: 12px;
          font-weight: $normal;
          opacity: $half;
        }
      }
    }
    ul {
      margin-bottom: 36px;
      p {
        color: $white;
        font-family: $inter;
        font-size: $fontSmall;
        font-weight: $normal;
        letter-spacing: 0.14px;
        opacity: $half;
      }
      li {
        display: flex;
        flex-direction: column;
        transition: $transitionNormal;
        margin-bottom: 5px;
        &.active {
          background: $teal;
          border-radius: $radiusSmall;
          svg {
            opacity: 1;
          }
          span {
            opacity: 1;
            &.badge {
              background: $white;
              color: $teal;
            }
          }
        }
        &:hover {
          a {
            background: $teal;
            border-radius: $radiusSmall;
            svg {
              opacity: 1;
            }
            span {
              opacity: 1;
              &.badge {
                background: $white;
                color: $teal;
              }
            }
          }
        }
        a,
        button {
          color: $white;
          font-family: $inter;
          font-size: $fontNormal;
          font-weight: $normal;
          letter-spacing: 0.16px;
          padding: 12px 8px;
          transition: $transitionNormal;
          background: transparent;
          svg {
            margin-right: 1rem;
            opacity: $half;
          }
          span {
            opacity: $half;
            &.badge {
              opacity: 1;
              background: $teal;
              display: inline-block;
              color: $white;
              font-family: $inter;
              font-size: 12px;
              font-weight: 400;
              margin-left: 8px;
            }
          }
        }
        button {
          background: transparent;
          border: 0;
          text-align: left;
          svg {
            &.btn-icon {
              margin-right: 1rem;
            }
            &.dropdown-icon {
              float: right;
              position: relative;
              top: 14px;
            }
          }
        }
      }
    }
  }
}

.main-wrapper {
  // background: red;
  width: 83%;
  position: relative;
  span {
    &.humburger {
      @media (min-width: 768px) {
        display: none;
      }
      @media (max-width: 767.98px) {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  @media (min-width: 1200px) and (max-width: 1399.98px) {
    width: 80%;
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 76%;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 68%;
  }
  @media (max-width: 767.98px) {
    width: 100%;
  }
}
