.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  height: 106px;
  margin-bottom: 40px;
  @media(max-width: 767.98px) {
    height: auto;
  }
  @media(max-width: 575.98px) {
    margin-bottom: 1rem;
  }   
  .content {
    @media(max-width: 991.98px) {
      display: none;
    }
    .company-intro {
      h3 {
        color: $dark;
        font-family: $inter;
        font-size: $fontLarge;
        font-weight: $bold;
        letter-spacing: 0.48px;
        margin-bottom: 12px;
        a {
          svg {
          }
        }
      }
      p {
        margin-bottom: 0;
        color: $dark;
        font-family: $inter;
        font-size: $fontSmall;
        font-weight: $normal;
        letter-spacing: 0.28px;
      }
    }
  }
  .top-bar-options {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media(min-width: 768px)and(max-width: 991.98px) {
      justify-content: space-evenly;
      width: 100%;
    }
    @media(max-width: 767.98px) {
      justify-content: end;
      width: 100%;
      gap: 10px;
    }
    .create-job-links {
      a {
        @include btn-theme;
        text-decoration: none;
        display: inline-block;
        @media(max-width: 575.98px) {
          padding: 5px 10px;
          font-size: 12px;
        }
      }
    }
    .notifications {
      .dropdown {
        button {
          height: 48px;
          width: 48px;
          border-radius: 100px;
          border: 1px solid #d6d8dc;
          background-color: #fff;
          &::after {
            display: none;
          }
          span {
            i {
              font-size: 18px;
            }
            .badge {
              width: 14px;
              height: 14px;
              border-radius: 100%;
              background-color: #E7502C;
              position: absolute;
              top: 10px;
              color: #FFF;
              text-align: center;
              font-family: Inter;
              font-size: 7px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 0.08px;
              right: 11px;
              padding: 0;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
        ul {
          li {
            button {
            }
          }
        }
      }
    }
    .profile-info {
      .dropdown {
        button {
          height: 48px;
          width: 48px;
          border-radius: 100px;
          border: 1px solid #d6d8dc;
          background-color: #fff;
          &::after {
            display: none;
          }
          img {
            width: 48px;
            height: 48px;
          }
        }
        ul {
          li {
            button {
            }
          }
        }
      }
    }
  }
}
